<p>
  <b>Az project:</b>
  <%=h @az_participant.az_project_id %>
</p>

<p>
  <b>Az user:</b>
  <%=h @az_participant.az_user_id %>
</p>


<%= link_to 'Edit', edit_az_participant_path(@az_participant) %> |
<%= link_to 'Back', az_participants_path %>