<p>
  <b><%= t(:az_label_name) %>:</b>
  <%=h @az_struct_data_type.name %>
</p>


<%= link_to t(:az_label_edit), edit_az_struct_data_type_path(@az_struct_data_type) %> |
<%= link_to t(:az_label_back), az_struct_data_types_path %>