<h2><%= t(:az_label_definitions) %></h2>
<%= render :partial => '/az_base_projects/tr_edit/tr_block_definitions', :locals => {:project => @project, 
                                                                                         :definitions => @definitions,
                                                                                         :permitted_to_edit => false,
                                                                                         :permitted_to_show => false} %>
  
