<div id="tr-text-edit-dialog-container">
  <%= render( :partial => '/az_base_projects/tr_edit/tr_edit_text_dialog', :locals => { :entity => entity, :field => field, :update_url => update_url} ) %>
</div>
