<div id="tr-status-edit-dialog-container">
  <%= render( :partial => '/az_base_projects/tr_edit/tr_edit_status_dialog', :locals => { :entity => entity, :update_url => update_url, :statuses => statuses} ) %>
</div>
