<p>
  <b>Az store item:</b>
  <%=h @az_store_item_scetch.az_store_item %>
</p>

<p>
  <b>Alt:</b>
  <%=h @az_store_item_scetch.alt %>
</p>


<%= link_to 'Edit', edit_az_store_item_scetch_path(@az_store_item_scetch) %> |
<%= link_to 'Back', az_store_item_scetches_path %>