<h1>Счет пополнен!</h1>

Спасибо, счет компании <%= h company.name %> пополнен на сумму <%= company.payment %> и составляет <%= company.get_balance %><br/>

<%= link_to t(:az_label_back), az_profiles_path %>
