<p>
  <b>Name:</b>
  <%=h @az_company.name %>
</p>

<p>
  <b>Ceo:</b>
  <%=h @az_company.ceo %>
</p>


<%= link_to 'Edit', edit_az_company_path(@az_company) %> |
<%= link_to 'Back', az_companies_path %>