<div class="feedback-page">
    <div class="main-content">
      <div class="main-top-block">
        <h1>Сообщение отправлено</h1>
        <div style="float: left; height: 200px;"></div>
        <%= aligner_tag %>
      </div>
  </div>
</div>