.help-icon
{
    width: 40px;
    height: 40px;
    background: url('/images/help.gif') no-repeat 4px 4px;
    border: 1px solid silver;
}

.help-icon:hover
{
    width: 40px;
    height: 40px;
    background: url('/images/help.gif') no-repeat 4px 4px;
    border: 1px solid red;
}

.help-icon .help-content
{
    /*display: none;*/
}


.help-icon:hover .help-content,
.help-icon .help-content:hover
{
    display: block;
    /*background-color: teal;
    color: white;*/
    border: 1px solid black;
    position: relative;
    top: 20px;
    left: 20px;
    width: auto;
    height: auto;
}

.r-tooltip
{
    position: relative;
    z-index: 24;
    width: 16px;
    height: 16px;
    background: url('/images/help.gif') no-repeat 0 0;
    border: 0;
}

.r-tooltip-r
{
    position: relative;
    z-index: 24;
    background: url('/images/help.gif') no-repeat;
    background-position: right;
    padding-right: 20px;
    border: 0;
}

.r-tooltip:hover,
.r-tooltip-r:hover
{
    /*color: #000000;*/
    z-index: 25;
}
.r-tooltip span.r-tip,
.r-tooltip-r span.r-tip
{
    display: none;
    text-align: left;
    white-space: normal;
    font-weight: normal;
}
.r-tooltip:hover span.r-tip,
.r-tooltip-r:hover span.r-tip
{
    background-color: #FFFFFF;
    border: 1px solid #555555;
    color: #505050;
    display: block;
    font-size: 11px;
    left: 24px;
    padding: 4px;
    position: absolute;
    top: 12px;
    width: 360px;
}


.help-image
{
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

.help-text
{
    width: 500px;
    background: url('/images/info.gif') no-repeat;
    background-position: right top;
    padding-right: 20px;
    padding-bottom: 5px;
}