<h1>Новый текст</h1>

<%= form_for(@az_tr_text, :builder => AzFormBuilder) do |f| %>

  <%= render( :partial => 'new_edit', :locals => {:f => f}) %>

  <p>
    <%= f.submit t(:az_label_create) %>
  </p>

<% end %>

<%= link_to t(:az_label_back), :action => :index_user %>
  