<p>
  <b>Az page:</b>
  <%=h @az_page_az_page_type.az_page %>
</p>

<p>
  <b>Az page type:</b>
  <%=h @az_page_az_page_type.az_page_type %>
</p>


<%= link_to 'Edit', edit_az_page_az_page_type_path(@az_page_az_page_type) %> |
<%= link_to 'Back', az_page_az_page_types_path %>