<h1>Listing az_page_az_project_blocks</h1>

<table>
  <tr>
  </tr>

<% @az_page_az_project_blocks.each do |az_page_az_project_block| %>
  <tr>
    <td><%= link_to 'Show', az_page_az_project_block %></td>
    <td><%= link_to 'Edit', edit_az_page_az_project_block_path(az_page_az_project_block) %></td>
    <td><%= link_to 'Destroy', az_page_az_project_block, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New az_page_az_project_block', new_az_page_az_project_block_path %>