<h1>New az_page_az_project_block</h1>

<% form_for(@az_page_az_project_block) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', az_page_az_project_blocks_path %>