<p>
  <b>Name:</b>
  <%=h @az_language.name %>
</p>

<p>
  <b>Code:</b>
  <%=h @az_language.code %>
</p>


<%= link_to 'Edit', edit_az_language_path(@az_language) %> |
<%= link_to 'Back', az_languages_path %>