<div id="new-edit-collection-dialog-container">
  <%= render(:partial => '/az_collection_data_types/new_edit_dialog',
            :locals => {:collection => collection, :collection_templates => collection_templates}) %>
</div>

