<% if projects.size > 0 %>
  <%= aligner_tag %>
  <div class="info">
    <h3><%= title %></h3>
    <table class="info-projects">
    <% projects.each do |prj| %>
      <tr>
        <td><%= link_to(prj.name, az_project_path(prj)) %></td>
        <td class="owner" title="Автор проекта"><%= prj.owner.name %></td>
      </tr>
    <% end %>
    </table>
  </div>
<% end %>

