<p>
  <b>Name:</b>
  <%=h @az_project_status.name %>
</p>

<p>
  <b>Position:</b>
  <%=h @az_project_status.position %>
</p>


<%= link_to 'Edit', edit_az_project_status_path(@az_project_status) %> |
<%= link_to 'Back', az_project_statuses_path %>