<h1>Listing az_design_sources</h1>

<table>
  <tr>
  </tr>

<% @az_design_sources.each do |az_design_source| %>
  <tr>
    <td><%= link_to 'Show', az_design_source %></td>
    <td><%= link_to 'Edit', edit_az_design_source_path(az_design_source) %></td>
    <td><%= link_to 'Destroy', az_design_source, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New az_design_source', new_az_design_source_path %>