<div id="add-update-design-dialog-container">
    <%= render( :partial => '/az_pages/tooltips/add_update_design_dialog', :locals => {:design => design,
                                                                                       :image => image,
                                                                                       :source => source,
                                                                                       :first_design => first_design,
                                                                                       :design_action => design_action}) %>
</div>

