<div id="description-page-dialog-container">
    <%= render( :partial => '/az_pages/tooltips/edit_description_dialog', :locals => {:page => page,
                                                                          :page_to_update => page_to_update,
                                                                          :embedded_page => embedded_page,
                                                                          :update_tr => update_tr,
                                                                          :texts => texts}) %>
</div>

