<p>
  <%= t(:az_label_name) %><br />
  <%= form.text_field :name %>
</p>
<p>
  Сложность<br />
  <%= form.text_field :complexity %>
</p>

<p>
  CRUD-имя<br />
  <%= form.text_field :crud_name %>
</p>

