<p>
  <b>Az base project:</b>
  <%=h @az_project_stat_update.az_base_project_id %>
</p>


<%= link_to 'Edit', edit_az_project_stat_update_path(@az_project_stat_update) %> |
<%= link_to 'Back', az_project_stat_updates_path %>