html, body
{
    padding: 0;
    margin: 0;
    font-size: 12px;
    /*background-color: #eee;*/
    font-family: "Century Gothic", Century, sans-serif, verdana, arial, helvetica;
    /*z-index: -5;*/
    position: relative;
    color: #728FA8;
    /*text-shadow: 1px 1px 5px maroon;*/
}


body
{
    /*background: url('/images/plus.png');*/
    /*z-index: -5;*/
}

q
{
    font-size: inherit;
}

pre
{
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

fieldset
{
    margin: 10px;
    padding: 4px 7px 9px 7px;
}

p
{
    margin: 8px 0 8px 0;
    padding: 0;
}

hr
{
  border: 1px solid #AACCDD;
}

/*.fieldWithErrors
{
  padding: 1px;
  background-color: red;
  display: table;
}*/

.fieldWithErrors input,
.fieldWithErrors textarea
{
    border-color: red;
}

#errorExplanation
{
  width: 380px;
  border: 1px solid red;
  /*padding: 7px;*/
  /*padding-bottom: 12px;*/
  /*margin-bottom: 20px;*/
  background-color: #f0f0f0;
}

#errorExplanation h2
{
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
  text-shadow: none;
  display: none;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
  display: none;
}

#errorExplanation ul li
{
  font-size: 12px;
  list-style: square;
}

#errorExplanation ul
{
    margin: 0;
    padding: 0;
}


fieldset
{
    margin: 10px;
    border: 1px solid #AACCDD;
}


h1
{
    font-size: 201%;
    text-shadow: 2px 2px 1px #E8E8E0;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2
{
    font-size: 175%;
    text-shadow: 2px 2px 1px #E8E8E0;
    margin-top: 8px;
    margin-bottom: 8px;
}

h3
{
    font-size: 152%;
    text-shadow: 2px 2px 1px #E8E8E0;
    margin-top: 7px;
    margin-bottom: 7px;
}

h4
{
    font-size: 132%;
    margin-top: 6px;
    margin-bottom: 6px;
}

h5
{
    font-size: 115%;
    margin-top: 5px;
    margin-bottom: 5px;
}

h6
{
    font-size: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
}

ol
{
	list-style: decimal;
        padding-left: 40px;
        margin-top: 14px;
        margin-bottom: 14px;
}

ul
{
	list-style: disc;
        padding-left: 40px;
        margin-top: 14px;
        margin-bottom: 14px;
}

caption
{
    font-size: 120%;
}

.about-content caption
{
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: left;
}

legend
{
    font-size: 12px;
    font-weight: bold;
}

textarea
{
    height: 200px;
    width: 600px;
    border: solid 1px #AACCDD;
    background-color: #ffffec;
    margin: 0;
    padding: 0;
}

input
{
    border: solid 1px #AACCDD;
    background-color: #ffffec;
}

pre
{
    background-color: #eee;
    border: 1px solid silver;
    padding: 10px;
    font-size: 90%;
}

blockquote
{
    background-color: #E0E0E0;
    color: black;
    font-style: italic;
    padding: 14px;
}

q
{
    font-style: italic;
}


a img
{
    border: 0;
}

a
{
    color: #D2691E;
}


a:hover
{
    color: #D2691E;
}

a:visited
{
    color: #D2691E;
}

img
{
    /* WTF? *
    clear: both;
    display: block;
    * WTF? end*/
    margin-top: 20px;
    margin-bottom: 20px;
}

td img
{
    margin-top: 0px;
    margin-bottom: 0px;
}


dfn
{
    font-weight: bold;
}

/*a:visited img
{
    border: 4px solid #ccc;
}

a img
{
    border: 4px solid #D2691E;
}*/
.aligner
{
    clear: both;
}

input
{
    width: auto;
}

div.uploader-content
{
    /*background: silver;*/

}
input.disabled-input
{
    color: gray;
    background-image: url('/images/spinner.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: white;
    border: 0;
}