<p>
  <b>Az operation times:</b>
  <%=h @az_typed_page_operation.az_operation_times_id %>
</p>

<p>
  <b>Az typed page:</b>
  <%=h @az_typed_page_operation.az_typed_page_id %>
</p>


<%= link_to 'Edit', edit_az_typed_page_operation_path(@az_typed_page_operation) %> |
<%= link_to 'Back', az_typed_page_operations_path %>