<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Лицензионное соглашение</title>
    <style type="text/css">
      body { background-color: #fff; font-family: arial, sans-serif; }
      h1 { font-size: 150%;}
      h2 { font-size: 120%;}
      h3 { font-size: 110%;}
    </style>
  </head>
  <body>
    <div style="width: 800px; margin: auto;">
      <%= render "license" %>
    </div>
  </body>
</html>