<div class="recover-password-page">
  <h1>Восстановление пароля</h1>
  <%= error_messages_for(:az_user, :header_message => '', :message => '') %>
  <% form_for(@az_user, :url => {:controller => 'az_users', :action => "reset_password"}, :builder => AzFormBuilder) do |f| -%>
    <p>Введите ваш</p>
    <p>
      e-mail<br/>
      <%= f.text_field :email %>
    </p>

    <p>
      или
    </p>

    <p>
      логин<br/>
      <%= f.text_field :login %>
    </p>

    <p>
      <%= f.submit "Восстановить" %>
    </p>
  <% end %>
</div>