<h1>Регистрация почти завершена</h1>
Проверьте, пожалуйста, почту.<br/>
<br/>
Если в ближайшее время к вам не придет письмо с подтверждением, <a href="/feedback">сообщите об этом</a>, разберемся в чем дело.

