<p>
  <b>Az company:</b>
  <%=h @az_test_period.az_company_id %>
</p>

<p>
  <b>Ends at:</b>
  <%=h @az_test_period.ends_at %>
</p>


<%= link_to 'Edit', edit_az_test_period_path(@az_test_period) %> |
<%= link_to 'Back', az_test_periods_path %>