<p>
  <b>Owner:</b>
  <%=h @az_c_image.owner_id %>
</p>

<p>
  <b>Az image category:</b>
  <%=h @az_c_image.az_c_image_category %>
</p>


<%= link_to 'Edit', edit_az_c_image_path(@az_c_image) %> |
<%= link_to 'Back', az_c_images_path %>